@model HotelMSDivided.BLL.DTO.GuestsPhoneNumbersDTO

@{
    ViewBag.Title = "Delete Phone Number";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this phone number, @Html.DisplayFor(model => model.GuestMail)?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        Phone number:
        @Html.DisplayFor(model => model.PhoneNumbersTypes.PhoneNumberTypeName)
        @Html.DisplayFor(model => model.PhoneNumber)
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Profile", "Details", "HotelGuests", new { id = Model.GuestMail }, null)
        </div>
    }
</div>
