@model HotelMSDivided.BLL.DTO.HotelStaffDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HotelStaff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Surname):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronymic):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeesPositions.PositionName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeesPositions.PositionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Schedule)
        </dd>

        <dt>
            Passport Data:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffsPassport.PassportSerialNumber)
            @Html.DisplayFor(model => model.StaffsPassport.PassportNumber)
        </dd>

        <dt>
            Phone Numbers:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffsPhoneNumbers.First().PhoneNumbersTypes.PhoneNumberTypeName)
            @Html.DisplayFor(model => model.StaffsPhoneNumbers.First().PhoneNumber)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to Home", "Index", "HotelRooms")
</p>
